<h1>Seja Bem vindo!</h1>
<span><strong>Data: <%= data_br(Date.today) %></span></strong>
<h3><%= name_application%></h3>

<%=render "menu" %>

<p>Voce esta em ambiente de <strong><%= ambiente_rails%></strong></p>

<p><strong>Eu sou uma variavel de instancia/sessão <%= @nome%></strong></p>